<div class="h-100 container">
  <div class="row h-25 align-items-center justify-content-center">
    <div class="col-8 text-center">
      <h2 style="font-size: 2rem !important;">Entrez la référence de votre infraction <br>pour récupérer sa date </h2>
    </div>
  </div>
  <div class="row mt-5 align-items-center justify-content-center">
    <div class="col-5">
      <mat-form-field class="w-100">
        <mat-label>Référence de l'infraction</mat-label>
        <input [(ngModel)]="reference" matInput placeholder="EX: SN221350AE040780">
      </mat-form-field>
    </div>
    <div class="ps-1 col-1">
      <button mat-raised-button color="primary" (click)="calculateDate()">Confirmer</button>
    </div>
  </div>
  <div *ngIf="showResult" class="row align-items-center justify-content-center">
    <div class="col-6">
      <div class="alert alert-info text-center" role="alert">
        {{date | date:'fullDate'}}
      </div>
    </div>
  </div>
</div>
